<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="/css/style.css"
      media="screen and (min-width: 768px)"
    />
    <link
      rel="stylesheet"
      href="/css/mobile.css"
      media="screen and (max-width: 767px)"
    />
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <h1><a href="/">고객정보관리</a></h1>
        <form action="search" method="post">
          <label for="search_name">검색</label>
          <input
            type="text"
            name="search_name"
            id="search_name"
            placeholder="고객명으로 검색"
          />
          <button type="submit">검색</button>
        </form>
      </div>
      <p class="total-users">Total Users : <%= userInfos.length %></p>
      <div class="list-wrap">
        <table class="user-list">
          <thead>
            <tr class="list-head">
              <th>id</th>
              <th>이름</th>
              <th>나이</th>
              <th>성별</th>
              <th class="contact">연락처</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for( let i = userInfos.length - 1; i >= 0; i-- ) { %>
            <tr>
              <td><%= userInfos[i].id %></td>
              <td><%= userInfos[i].name %></td>
              <td><%= userInfos[i].age %></td>
              <td><%= userInfos[i].sex %></td>
              <td class="contact">
                <%= userInfos[i].contact.replace(/ /g,
                "").replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`), %>
              </td>
              <td>
                <form
                  action="del/<%= userInfos[i].id %>"
                  method="post"
                  onsubmit="let result = confirm('삭제하시겠습니까?');if(!result) return false;"
                >
                  <button type="submit">삭제</button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% if (userInfos.length == 0) { %>
        <p class="warn-txt">유저 정보를 찾을 수 없습니다.</p>
        <% } %>
      </div>

      <div class="new-userinfo">
        <form action="new_user" method="post" class="new-user">
          <div class="new-user-head">
            <h3>고객정보 입력</h3>
            <button type="submit">추가</button>
          </div>
          <label for="user_name">이름</label>
          <input
            type="text"
            name="user_name"
            id="user_name"
            placeholder="이름 입력"
            required
          />
          <label for="user_age">나이</label>
          <input
            type="number"
            name="user_age"
            id="user_age"
            placeholder="나이 입력"
            required
          />
          <div class="user_sex_box">
            <label>
              <input
                type="radio"
                name="user_sex"
                id="user_sex_male"
                value="남"
              />
              남자</label
            >
            <label>
              <input
                type="radio"
                name="user_sex"
                id="user_sex_female"
                value="여"
              />
              여자</label
            >
          </div>
          <label for="user_tel">연락처</label>
          <input
            type="tel"
            name="user_tel"
            id="user_tel"
            placeholder="연락처 입력(하이픈' - ' 생략)"
          />
        </form>
      </div>
    </div>
  </body>
</html>
